.hello:link {
  color: red;
}

.hello:hover{
  color: blue;
  font-family: arial;
  font-size: 20px;
}

.hello:active {
  font-style: italic;
}


li:nth-child(even) a {
  color: purple;
}

li:nth-child(even) a {
  color: red;
}

p:last-of-type {
 color: blue;
}