body {
  font-family: arial;
}

h1, h2 {
  color: blue;
}

ul li a {
  color: grey;
}

ol li a {
  color: pink;
}

.p2 {
  color: lightblue;
}

.cetak-tebal {
   font-weight: bold;
}

p.cetak-tebal {
	
}